.cabeçalho {
    background-color: #CC0000;
    display: flex;
    flex-direction: flex;
    justify-content: space-around;
    margin-inline: -9px;
    align-items: center;
    height: 60px;

}

.input_poke {
    width: 90px;
    height: 13px;
    padding: 10px 15px;
    font-size: 11px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
    font-family: 'Arial', sans-serif;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.input_poke:focus {
    border-color: #3B4CCA;
    box-shadow: 0 0 6px rgba(59, 76, 202, 0.4);
}

.botao_buscar {
    width: 90px;
    height: 15px;
    padding: 10px 15px;
    font-size: 11px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #FFCB05;
    /* amarelo Pokémon */
    color: #3B4CCA;
    /* azul Pokémon */
    font-family: 'Arial', sans-serif;
    cursor: pointer;
    transition: border-color 0.3s, box-shadow 0.3s, background-color 0.3s;
    outline: none;
}

/* Efeito ao passar o mouse */
.botao_buscar:hover {
    background-color: #e6b800;
    border-color: #3B4CCA;
    box-shadow: 0 0 6px rgba(59, 76, 202, 0.4);
}

/* Efeito ao clicar */
.botao_buscar:active {
    background-color: #d1a600;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
}

.info_poke{
    display: flex;
    margin-top: 30px;
    height: 335px;
    border-radius: 8px;
    flex-direction: column;
    align-items: center;
    background-color: #ccc;
}

.poke_nameNumber{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 30px;
}